:root{
    // colors
    --c-bg: hsl(47, 88%, 63%);
    --c-primary: hsl(0, 0%, 7%);
    --c-secundary: hsl(0, 0%, 58%);
    --c-black: #000;
    --c-white: #FFF;

    // fonts
    --f-text: "Figtree", sans-serif;
}